In [6]:
import os
os.environ["JAVA_HOME"] = "/usr/local/openjdk-8"
os.environ["SPARK_HOME"] = "/user_data/spark-3.3.0-bin-hadoop2"

import findspark
findspark.init('spark-3.3.0-bin-hadoop2')

In [10]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.appName("sparksubmit_test_app")
    .config("spark.sql.warehouse.dir", "hdfs:///user/hive/warehouse")
    .config("spark.sql.catalogImplementation", "hive")
    .getOrCreate()
)

24/02/15 02:26:03 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [11]:
df = spark.read.text("hdfs://spark-master:9000/datasets/")

In [12]:
df.show()

+-----+
|value|
+-----+
+-----+

In [15]:
import requests
from io import StringIO

df = spark.read.csv("hdfs://spark-master:9000/datasets/iris/iris.data", header=False, inferSchema=True)

df.show()

num_linhas = df.count()
print(f"Número de linhas no DataFrame: {num_linhas}")

+---+---+---+---+-----------+
|_c0|_c1|_c2|_c3|        _c4|
+---+---+---+---+-----------+
|5.1|3.5|1.4|0.2|Iris-setosa|
|4.9|3.0|1.4|0.2|Iris-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|
+---+---+---+---+-----------+
only showing top 20 rows

Número de linhas no DataFrame: 150

In [16]:
df_transformado = df.select("_c0", "_c1").filter(df["_c4"] == 'Iris-setosa')

In [17]:
df_transformado.show()

+---+---+
|_c0|_c1|
+---+---+
|5.1|3.5|
|4.9|3.0|
|4.7|3.2|
|4.6|3.1|
|5.0|3.6|
|5.4|3.9|
|4.6|3.4|
|5.0|3.4|
|4.4|2.9|
|4.9|3.1|
|5.4|3.7|
|4.8|3.4|
|4.8|3.0|
|4.3|3.0|
|5.8|4.0|
|5.7|4.4|
|5.4|3.9|
|5.1|3.5|
|5.7|3.8|
|5.1|3.8|
+---+---+
only showing top 20 rows

In [18]:
# Registrar DataFrame como tabela temporária
df.createOrReplaceTempView("tabela_temporaria")

# Executar consulta SQL no DataFrame
resultado_sql = spark.sql("SELECT _c0, AVG(_c1) FROM tabela_temporaria GROUP BY _c0")
resultado_sql.show()

+---+------------------+
|_c0|          avg(_c1)|
+---+------------------+
|5.4|3.5500000000000003|
|7.0|               3.2|
|6.1|              2.85|
|7.7|              3.05|
|6.6|              2.95|
|4.5|               2.3|
|5.7|               3.1|
|6.7|3.0500000000000003|
|7.4|               2.8|
|6.5|               3.0|
|4.9|2.8666666666666667|
|6.2|2.8249999999999997|
|5.1| 3.477777777777778|
|7.3|               2.9|
|4.3|               3.0|
|7.9|               3.8|
|4.7|               3.2|
|5.3|               3.7|
|7.2| 3.266666666666667|
|7.6|               3.0|
+---+------------------+
only showing top 20 rows